<?xml version="1.0"?>
<config>
    <modules>
        <Webqem_Mailcall>
            <version>1.9.2</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </Webqem_Mailcall>
    </modules>
    <frontend>
        <routers>
            <webqemmailcall>
                <use>standard</use>
                <args>
                    <module>Webqem_Mailcall</module>
                    <frontName>webqemmailcall</frontName>
                </args>
            </webqemmailcall>
        </routers>
        <layout>
            <updates>
                <webqemmailcall>
                    <file>webqem/mailcall.xml</file>
                </webqemmailcall>
            </updates>
        </layout>
        <translate>
            <modules>
                <Webqem_Mailcall>
                    <files>
                        <default>Webqem_Mailcall.csv</default>
                    </files>
                </Webqem_Mailcall>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <webqemmailcall>
                <use>admin</use>
                <args>
                    <module>Webqem_Mailcall</module>
                    <frontName>webqemmailcall</frontName>
                </args>
            </webqemmailcall>
        </routers>
    </admin>
    <adminhtml>
       <menu>
            <webqemall>
            	<title>WantItNow</title>
		<sort_order>71</sort_order>     
                <children>
                    <mailcall translate="title" module="webqemmailcall">
                        <title>Manage Timeslots</title>
                        <sort_order>1</sort_order>
                        <action>webqemmailcall/adminhtml_timeslot</action>
                    </mailcall>
                </children>
            </webqemall>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Webqem_Mailcall>
                            <title>Mailcall Module</title>
                            <sort_order>10</sort_order>
                        </Webqem_Mailcall>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <webqemmailcall>
                    <file>webqemmailcall.xml</file>
                </webqemmailcall>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <Webqem_Mailcall>
                    <files>
                        <default>Webqem_Mailcall.csv</default>
                    </files>
                </Webqem_Mailcall>
            </modules>
        </translate>
		
    </adminhtml>
    <global>
        <models>
        	 <sales>
                <rewrite>
                    <order>Webqem_Mailcall_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <webqemmailcall>
                <class>Webqem_Mailcall_Model</class>
                <resourceModel>webqemmailcall_mysql4</resourceModel>
            </webqemmailcall>
			<salesrule>
				<rewrite>
					<validator>Webqem_Mailcall_Model_SalesRule_Validator</validator>
				</rewrite>
			</salesrule>
            <webqemmailcall_mysql4>
                <class>Webqem_Mailcall_Model_Mysql4</class>
                <entities>
                    <timeslot>
                        <table>webqem_timeslot</table>
                    </timeslot>
                    <pickup>
                        <table>webqem_shipping_pickup</table>
                    </pickup>
                    <holidays>
                        <table>webqem_holidays</table>
                    </holidays>
                    <request>
                        <table>webqem_request</table>
                    </request>
                </entities>
            </webqemmailcall_mysql4>
        </models>
        <!-- <models>
        	 <sales>
                <rewrite>
                    <order>Webqem_Mailcall_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <webqemmailcall>
                <class>Webqem_Mailcall_Model</class>
                <resourceModel>webqemmailcall_resource</resourceModel>
            </webqemmailcall>
			<salesrule>
				<rewrite>
					<validator>Webqem_Mailcall_Model_SalesRule_Validator</validator>
				</rewrite>
			</salesrule>
            <webqemmailcall_resource>
                <class>Webqem_Mailcall_Model_Resource</class>
                <deprecatedNode>webqemmailcall_mysql4</deprecatedNode>
                <entities>
                    <timeslot>
                        <table>webqem_timeslot</table>
                    </timeslot>
                    <pickup>
                        <table>webqem_shipping_pickup</table>
                    </pickup>
                </entities>
            </webqemmailcall_resource>
        </models> -->
        <resources>
            <webqemmailcall_setup>
                <setup>
                    <module>Webqem_Mailcall</module>
                    <class>Webqem_Mailcall_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webqemmailcall_setup>
            <webqem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webqem_write>
            <webqem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webqem_read>
        </resources>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <webqemmailcall_observer>
                        <class>webqemmailcall/observer</class>
                        <method>setMailcallShippingMethod</method>
                    </webqemmailcall_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_model_service_quote_submit_after>
                <observers>
                    <checkout_controller_onepage_save_shipping_method>
                        <type>model</type>
                        <class>webqemmailcall/observer</class>
                        <method>saveOrderAfter</method>
                    </checkout_controller_onepage_save_shipping_method>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after>
                        <type>model</type>
                        <class>webqemmailcall/observer</class>
                        <method>loadOrderAfter</method>
                    </sales_order_load_after>
                </observers>
            </sales_order_load_after>
            <sales_quote_load_after>
                <observers>
                    <sales_quote_load_after>
                        <type>model</type>
                        <class>webqemmailcall/observer</class>
                        <method>loadQuoteAfter</method>
                    </sales_quote_load_after>
                </observers>
            </sales_quote_load_after>
            <checkout_type_onepage_save_order>
                <observers>
                    <webqemmailcall_observer>
                        <class>webqemmailcall/observer</class>
                        <method>saveRequestBook</method>
                    </webqemmailcall_observer>
                </observers>
            </checkout_type_onepage_save_order>
            <!--Commented Out By Steve G @ webqem 06/12/2012
            <sales_order_save_after>
                <observers>
                    <webqemmailcall_observer_request>
                        <class>webqemmailcall/observer</class>
                        <method>requestBookToMailcall</method>
                    </webqemmailcall_observer_request>
                </observers>
            </sales_order_save_after>-->
            <sales_order_place_after>
                <observers>
                    <webqemmailcall_observer_request>
                        <class>webqemmailcall/observer</class>
                        <method>requestBookToMailcall</method>
                    </webqemmailcall_observer_request>
                </observers>
            </sales_order_place_after>
			<adminhtml_block_salesrule_actions_prepareform>
				<observers>
                    <webqemmailcall_observer>
                        <class>webqemmailcall/observer</class>
                        <method>salesruleActionsPrepareform</method>
                    </webqemmailcall_observer>
                </observers>
			</adminhtml_block_salesrule_actions_prepareform>
        </events>
        <sales>
            <shipping>
                <carriers>
                    <Webqem_Mailcall>
                        <class>Webqem_Mailcall_Model_Carrier_Mailcall</class>
                        <class>Webqem_Mailcall_Model_Carrier_Timeslots</class>
                    </Webqem_Mailcall>
                </carriers>
            </shipping>
        </sales>

        <blocks>
            <webqemmailcall>
                <class>Webqem_Mailcall_Block</class>
            </webqemmailcall>
            <checkout>
              <rewrite>
                  <onepage_payment_methods>Webqem_Mailcall_Block_Onepage_Payment_Methods</onepage_payment_methods>
                  <onepage_shipping_method_available>Webqem_Mailcall_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
             </rewrite>
           </checkout>
		   <adminhtml>
<!--			   <rewrite>
					<promo_quote_edit_tab_actions>Webqem_Mailcall_Block_Adminhtml_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
				</rewrite>-->
			</adminhtml>
        </blocks>
        <helpers>
            <webqemmailcall>
                <class>Webqem_Mailcall_Helper</class>
            </webqemmailcall>
        </helpers>
    </global>
    
    <default>
        <carriers>
            <webqemmailcall>
                <title>Want It Now</title>
                <allowed_products>0</allowed_products>
                <contentdesc></contentdesc>
                <usefixedcost>0</usefixedcost>
                <withinkms>0</withinkms>
                <fixedcost>0</fixedcost>
                <display_wantitnow>1</display_wantitnow>
                <debug>0</debug>
                <specificerrmsg>There was an error when connecting to the MailCall (Want It Now) server. Please call MailCall IT Department for Bookings and Enquiries: 136 331.</specificerrmsg>
                <model>webqemmailcall/Carrier_Mailcall</model>
                <sort_order>0</sort_order>
            </webqemmailcall>
            <timeslot>
            	<title>Want It Now Timeslot</title>
                <allowed_products>0</allowed_products>
                <contentdesc></contentdesc>
                <usefixedcost>0</usefixedcost>
                <withinkms>0</withinkms>
                <fixedcost>0</fixedcost>
                <display_wantitnow>1</display_wantitnow>
                <debug>0</debug>
                <specificerrmsg>There was an error when connecting to the MailCall (Want It Now) server. Please call MailCall IT Department for Bookings and Enquiries: 136 331.</specificerrmsg>
                <model>webqemmailcall/Carrier_Timeslots</model>
                <sort_order>0</sort_order>
            </timeslot>
        </carriers>
    </default>
</config>
